mixin instagram_item(item)
  .event
    .label
      i.circular.instagram.icon
    .content
      .date
        | #{_.age(parseInt(item.date) * 1000 )}
      .summary
        | #{me} uploaded a photo to Instagram
      .extra.text
        | #{item.caption}
      .extra.images
        img(src=item.image)

mixin github_item(item)
  .event
    .label
      i.circular.github.icon
    .content
      .date
        | #{_.age(item.created_at)}
      //- EVENTS TO IMPLEMENT:
      //- CommitCommentEvent
      //- DeleteEvent
      //- DownloadEvent
      //- FollowEvent
      //- ForkEvent
      //- ForkApplyEvent
      //- GistEvent
      //- GollumEvent
      //- IssueCommentEvent
      //- IssuesEvent
      //- MemberEvent
      //- PublicEvent
      //- PullRequestEvent
      //- PullRequestReviewCommentEvent
      //- ReleaseEvent
      //- StatusEvent
      //- TeamAddEvent
      //- Starred a Repository
      if item.type == "WatchEvent"
        .summary
          | #{me} starred a repository:
          a(href='https://github.com/#{item.repo.name}') #{item.repo.name}
      //- Created a new Repository
      else if item.type == "CreateEvent"
        .summary
          | #{me} created a repository:
          a(href='https://github.com/#{item.repo.name}') #{item.repo.name}
      //- Pushed commits to a Repository
      else if item.type == "PushEvent"
        .summary
          | #{me} pushed #{item.payload.commits.length} commits to GitHub
        each commit in item.payload.commits
          .extra text
            a(href='#{commit.url}') #{_.sha_stub(commit.sha)}
            | - #{commit.message}

extends layout
block content

  .ui.small.attached.feed.segment
    each feed_item in feed
      +github_item(feed_item)

  .ui.bottom.attached.center.aligned.segment
    a(href='#') Get More Posts