extends ../layout
block content

  h1.huge My GitHub Repositories
  .ui.small.feed.segment
    each repo in repos
      .event
        .label
          .ui.blue.label #{repo.stargazers_count}
        .content
          .date Created #{_.age(repo.created_at)}
          .summary
            a(href='#{repo.html_url}', target='_blank') #{repo.name}
          .extra.text #{repo.description}